/* Paleta de colores */               
$primary-color: #FADCE1;
$secondary-color: #FFFFFF;
$tertiary-color: #FCC8D1;
$primary-text-color: #D14D72;
$quaternary-color: #FFABAB;
$font-stack: 'IBM Plex Sans' , sans-serif;
$paragraph-size: 1.5em;


@mixin flexCenter($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin buttonStyle{
	button{
		background: none;
		border-style: none;
	}
}

body{
    background-color: $primary-color; 
    font-family: $font-stack;
}

header{
    background-color: $quaternary-color;
    .logo {
        width: 80px;
        height: auto;
    }
    
    .carrito{
        margin-left: 10px;
        width: 45px;
        height: auto;
    }

    .nav-item{
        font-weight: bold;
        color: $primary-text-color;
    }
}

article{
    width: auto;
    color: $primary-text-color;
    padding: 50px 20px;

    .impact-section{
        padding-top: 20px;
        gap: 25px;
        text-align: left;
    }

    h1{
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }

    p{
        font-size: $paragraph-size;
        color: black;
    }

    .btn-custom{
        background-color: $primary-text-color;
        color: $secondary-color;
        font-weight: bold;
        border-radius: 40px;
        font-size: 1,5em;
        &:hover {
            transform: scale(1.1);
        }
    }

    .image-section{
        text-align: right;
    }

    img {
        width: 100%;
        max-width: 300px;
        margin-top: 20px;
        margin-right: 50px;
        border-radius: 40px;
    }

    @media (max-width: 767px) {
        .image-section {
            text-align: right;
            margin-top: 20px;
        }
        @include buttonStyle;
        .btn-primary btn-custom{
            width: 12vw;
            padding: 20px;
            background-color: $primary-text-color;
            font-weight: bold;
            border-radius: 30px;
            color: black;
            font-size: 1em;
            
            &:hover{ /* Pasas el mouse */
                transform: scale(1.1);
            }
        }
        img {
            margin-right: 0;
        }
    }
}

section{
	width: auto;
	height: auto;
	padding: 60px;

	h2{
        color: $primary-text-color;
        font-size: 2em;
	}

	.custom-collection {
        width: 100%; 
    }
    
    .collection{
        padding-bottom: 60px;

        h2{
            font-weight: 4000;
			padding-bottom: 50px;
		}

		.card-section{
            @include flexCenter(row, space-evenly, center);
            width: auto;
			height: auto;
            flex-wrap: wrap;
			column-gap: 200px;
			row-gap: 80px;
        }

        .product-card{
            width: 18vw;
            height: 50vh;
            background-color: $quaternary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;

            .icon{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                svg{
                    width: 28px;
                    height: 28px;
                    }
            }

            .product-image{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 12vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
                    }
            }

            h3{
                font-size: 1.4em; /* Ajusta el tamaño del título */
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
	}

    .new-products{
        /* Herencia */
        @extend .collection;
        
        .product-card{
			background-color: $tertiary-color;
			color:rgb(246, 80, 80);
            height: 400px;

            h3,p{
                color: $primary-text-color;
            }
		}
    }
}

.gallery{
    h2{
        font-weight: bold;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    
    .gallery-images{
        @include flexCenter(row, space-between, center);
        
        .col-md-4{
            @include flexCenter(column, center, center);
            
            img{
                width: 28vw;
                height: 60vh;
                object-fit: cover;
                object-position: 5px 35%;
                border-radius: 16px;
                
                /* Transición */
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.about-us{
    padding-bottom: 60px;
    
    h2{
        font-weight: bold;
        padding-bottom: 60px;
    }
    
    .frases{
        .pago, .delivery, .calidad{
        $text-color: #E86424;
        color: $text-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
            img{
                object-fit: contain;
                max-width: 100%;
                height: auto;
            }

            h3{
                color: #D14D72;
                font-weight: bold;
            }
            
            p{
                text-align: center;
                font-size: $paragraph-size;
                color: black;
            }
        }
    }
}


footer{
    background-color: $quaternary-color;
    color: $primary-text-color;
    padding: 10px;
    
    .container{
        .row{
            flex-wrap: wrap;
            
            .col-md-4{
                flex: 0 0 100%;
                margin-bottom: 20px;
                
                @media (min-width: 768px){
                    flex: 0 0 33.33%;
                }
            }
        }
    }

    .politicas, .redes-sociales, .medios-pago{
        
        h2{
            font-weight: bold;
        }

        p{
            margin: 10px 0;
        }

        img{
            margin-right: 10px;
            max-width: 100%;
            height: auto;
            max-height: 50px; /* Ajusta aquí el tamaño máximo de las imágenes */
        }

        .d-flex{
            @include flexCenter(row, wrap, center);
            gap: 10px;

            a{
                img{
                    width: 30px;
                }
            }
        }

        .medios-pago{
            img{
                max-width: 60px; /* Ajusta aquí el tamaño máximo de las imágenes */
            }
        }
    }

    .medios-pago{
        @include flexCenter(row, space-between, center);
        flex-wrap: wrap;

        .col-md-4{
            flex: 0 0 100%;

            @media (min-width: 768px){
                flex: 0 0 48%;
            }
        }
    }

    .copyrigth{
        @include flexCenter(row, space-evenly, center);

        p{
            margin-right: 10px;
            text-align: center;
        }

        img{
            width: 20px;
        }

        .back-to-top{
            position: fixed;
            bottom: 20px;
            right: 20px;
        }

        .back-to-top img{
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
}
