@import '../basicos/colors.scss';
@import '../basicos/tipografia.scss';
@import '../basicos/mixins.scss';


header{
    background-color: $secondary-color;
    font-family: 'Poppins';
    font-weight: bold;
    //Pasar el mouse y se sombree
    .nav-item:hover{
        background-color: $primary-color;
        color: $secondary-color;
    }

    .logo {
        width: 80px;
        height: auto;
    }
    
    .carrito{
        margin-left: 10px;
        width: 45px;
        height: auto;
    }

    .nav-item{
        font-weight: bold;
    }
}